* {
    padding: 0;
    margin: 0;
}

body {
    font-family: 'Roboto Condensed', 'Open Sans', sans-serif;
    box-sizing: border-box;
}

.wrapper {
    display: grid;
    grid-template-columns: 1fr 1150px 1fr;
}


    /*header (logo + button)*/

.gridcontainer {
    grid-column: 2 / 3;
}

.headcontainer {
    display: grid;
    grid-template-columns: 1fr 1fr;
    padding: 25px 0px;
}

        /*header: logo*/

.logobox {
    display: table;
}

span {
    display: table-cell;
    vertical-align: middle;  
}

.logotext {
    padding-right: 250px;
}

.logotext a {
    text-decoration: none;
}

.logotext a h1 {
    color: #19b490;
    font-size: 1.125rem;
    font-weight: 400;
}

.logotext a p {
    color: #19b490;
    font-size: 0.6875rem;
    text-transform: uppercase;
}

        /*header: button*/

.btn {
    text-align: end;
    display: table;
}



.btn span a {
    text-decoration: none;
    text-transform: uppercase;
    color: #90959a;
    background-color: #edeff1;
    padding: 10px 15px;
    border-radius: 5px;
}

.btn span a:hover {
    background-color: #dedfe0;
}

    /*main (textbox + form + image + testimonials)*/

.bgimg {
    grid-column: 1 / 4;

    display: grid;
    grid-template-columns: 1fr 1150px 1fr;

    background-image: url(https://demo.themezy.com/system/resources/demo_themes/000/000/033//dummy/bg.jpg);
    background-repeat: no-repeat;
}

.maincontainer {
    grid-column: 2 / 3;
    
    display: grid;
    grid-template-columns: repeat(12, 1fr);
}


        /*main: textbox*/

.textbox {
    grid-column: 1 / 8;

    margin-top: 100px;
    position: relative;
}

.dontmisschanceimg {
    width: 150px;
    position: absolute;
    left: 480px;
    top: 100px;
}

.maintext h1 {
    font-size: 3.75rem;
    font-weight: 300;
    color: white;
}

.maintext p {
    font-size: 1.5rem;
    font-weight: 100;
    color: white;
    width: 80%;
    padding-top: 35px;
}

.rateofreturn {
    margin: 50px 0px;
    display: table;
}

.percent {
    display: inline;
    background-color: #19b490;
    color: white;
    font-size: 3.75rem;
    font-weight: 700;
    padding: 0px 20px;
    display: table-cell;
    vertical-align: middle;
}

.rate {
    display: inline-block;
    background-color: #15326b;
    color: white;
    text-transform: uppercase;
    font-size: 1.3rem;
    font-weight: 400;
    display: table-cell;
    vertical-align: middle;
    text-align: center;
    width: 170px;
}

.list {
    list-style: none;
    color: white;
    font-size: 1.125rem;
}

.list li {
    margin-bottom: 10px;
    padding-left: 30px;
    background-image: url(images/check-solidgreen.svg);
    background-repeat: no-repeat;
    background-position: left;
    background-size: 16px;
}


        /*main: form*/

.formbox {
    grid-column: 8 / 13;

    background-color: white;
    margin-top: 100px;
    padding: 50px;
    text-align: center;
    border-radius: 5px;
}

.formtext {
    color: #19b490;
}

.formtext h2 {
    font-size: 1.875rem;
    font-weight: 300;
}

.formtext p {
    font-weight: 100;
    padding: 20px 0px;
}

select,
input {
    box-sizing: border-box;
    margin-top: 10px;
    width: 100%;
    padding-left: 50px;
    padding-top: 10px;
    padding-bottom: 10px;
    font-family: inherit;
    font-size: 0.95rem;
    border: 1px solid #d8dadc;
    border-radius: 5px;
    background-color: white;
}

select:hover {
    background-color: #f3f3f3;
}

input:hover {
    background-color: #f3f3f3;
}

button:hover {
    cursor: pointer;
    opacity: 0.75;
}

#fullname {
    background-image: url(images/icon-user.png);
    background-repeat: no-repeat;
    background-position: left;
}

#companyname {
    background-image: url(images/icon-factory.png);
    background-repeat: no-repeat;
    background-position: left;
}

#email {
    background-image: url(images/icon-envelope.png);
    background-repeat: no-repeat;
    background-position: left;
}

#phonenumber {
    background-image: url(images/icon-phone.png);
    background-repeat: no-repeat;
    background-position: left;
}

#countryselect {
    background-image: url(images/icon-globe.png);
    background-repeat: no-repeat;
    background-position: left;
}


button {
    text-align: center;
    margin-top: 45px;
    background-color: #19b490;
    color: white;
    font-family: inherit;
    font-size: 1rem;
    padding: 10px 15px;
    border: none;
    border-radius: 3px;
}


        /*main: image*/

.imagebox {
    grid-column: 1 / 13;

    margin-top: 9rem;
    text-align: center;
}

.imagebox h2 {
    font-size: 2.25rem;
    font-weight: 100;
    color: #19b490;
    text-transform: uppercase;
    margin-top: 35px;
    margin-bottom: 45px;
}

.formbtn {
    text-decoration: none;
    text-transform: uppercase;
    background-color: #19b490;
    color: white;
    font-family: inherit;
    font-size: 1.1rem;
    padding: 10px 15px;
    border: none;
    border-radius: 3px;
}

.formbtn:hover {
    opacity: 0.75;
}


        /*main: testimonials*/

.testimonialbox {
    grid-column: 1 / 13;
    margin-top: 80px;
    text-align: center;
    padding-top: 35px;
    padding-bottom: 35px;
    border-top: 1px solid #d8dadc;
    border-bottom: 1px solid #d8dadc;
}

.testimonialbox img {
    padding: 0px 25px;
}


    /*footer*/

.footer {
    grid-column: 2 / 3;
    text-align: center;
    padding: 40px 0px;
    color: #90959a;
    font-size: 0.9rem;
    font-weight: 400;
}



    /*!!MEDIA QUERIES!!*/


        /*first media query*/

        @media screen and (max-width: 1200px) {
             
                .wrapper {
                    display: grid;
                    grid-template-columns: 1fr 920px 1fr;
                }

                .bgimg {
                    grid-column: 1 / 4;
                
                    display: grid;
                    grid-template-columns: 1fr 920px 1fr;
                
                    background-image: url(https://demo.themezy.com/system/resources/demo_themes/000/000/033//dummy/bg.jpg);
                    background-repeat: no-repeat;
                }

                .imagebox {
                    width: 100%;                    
                }

                .imagebox img {
                    width: 100%;
                }

                .dontmisschanceimg {
                    width: 150px;
                    position: absolute;
                    left: 370px;
                    top: 90px;
                }
                
            }



        
        /*second media query*/

        @media screen and (max-width: 930px) {
        
                .wrapper {
                    display: grid;
                    grid-template-columns: 1fr 80% 1fr;
                }

                .bgimg {
                    grid-column: 1 / 4;                
                    display: grid;
                    grid-template-columns: 1fr 80% 1fr;               
                    background-image: url(https://demo.themezy.com/system/resources/demo_themes/000/000/033//dummy/bg.jpg);
                    background-repeat: no-repeat;
                    background-size: 2600px
                }

                .logotext {
                    padding-right: 130px;
                }

                .dontmisschanceimg {
                    display: none;
                }

                .textbox {
                    grid-column: 1 / 13;
                }

                .formbox {
                    grid-column: 1 / 13;
                    margin-top: 50px;                    
                }

                .imagebox {
                    margin-top: 100px;
                }

            }

        
        /*third media query*/

        @media screen and (max-width: 750px) {

            .logotext {
                padding-right: 100px;
            }

        }

        /*fourth media query*/

        @media screen and (max-width: 650px) {

            .wrapper {
                grid-template-columns: 1fr 90% 1fr;
            }

            .bgimg {
                grid-template-columns: 1fr 90% 1fr;  
            }

            .logotext {
                padding-right: 80px;
            }

        }


        /*fifth media query*/

        @media screen and (max-width: 550px) {

            .logotext {
                padding-right: 50px;
            }

        }
        
        /*sixth media query*/

        @media screen and (max-width: 490px) {

            .logotext {
                padding-right: 0;
            }

        }